@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

header {
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 5px;
}

.social-icons a {
    margin-left: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.content {
    flex: 1;
    padding: 50px;
    text-align: center;

}

h1 {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 40px;
    color: hsl(0, 36%, 70%);
}

form {
    display: flex;
    justify-content: center;
}

input[type="email"] {
    padding: 15px;
    border-radius: 25px;
    border: 1px solid hsl(0, 36%, 70%);
    width: 300px;
    margin-right: 10px;
}

button[type="submit"] {
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

button[type="submit"]:hover {
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.image {
    flex: 1;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}